:root{
    --primary-color: rgb(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text--color: #333;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit; /*inherit là kế thừa từ thẻ chứa nó*/

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin:0 auto ;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

/* animation  */
/* keyframes cho phép bạn viết ra những chuyển động theo
frame, từng khung hình một */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: scale(var(--growth-form));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* overview modal  */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: 0.4;
}

.modal__body{
    margin: auto; /*khi có display= flex ở thẻ cha thì margin auto sẽ giúp element vào giữa*/
    position: relative;
    z-index: 1;
    --growth-form: 0.4;
    --growth-to: 1;
    animation: growth linear 0.1s ;
    
}

/* button style  */
.btn{
    min-width: 142px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text--color);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4rem;
    
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.3rem;
    padding: 0 8px;
}

.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled{
    cursor: default;
}

