:root{
    --primary-color: rgb(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text--color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3D;
    --header-height: 120px;
    --navbar-height: 38px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit; /*inherit là kế thừa từ thẻ chứa nó*/

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin:0 auto ;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* animation  */
/* keyframes cho phép bạn viết ra những chuyển động theo
frame, từng khung hình một */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: scale(var(--growth-form));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* overview modal  */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: 0.4;
}

.modal__body{
    margin: auto; /*khi có display= flex ở thẻ cha thì margin auto sẽ giúp element vào giữa*/
    position: relative;
    z-index: 1;
    --growth-form: 0.4;
    --growth-to: 1;
    animation: growth linear 0.1s ;
    
}

/* button style  */
.btn{
    min-width: 120px;
    height: 36px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text--color);
    background-color: #fff;
    display:inline flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4rem;
    
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.3rem;
    padding: 0 8px;
}

.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled{
    cursor: default;
}

/* selection  */
.select-input{
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 204px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    position: relative;
    top: 1px;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__list{
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 2px #ccc;;
    padding: 8px 14px 8px 16px;
    display: none;
    animation: fadeIn ease-in 0.15s;
}

.select-input__list::before{
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
}

.select-input__item{
    font-size: 1.4rem;
    color: var(--text--color);
    list-style: none;
    line-height: 3rem;
}

.select-input__item:hover{
    color: var(--primary-color);
    cursor: pointer;
}