.header {
    height: 120px;
    background-image: linear-gradient(0, #ff6533, #f53d2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display:inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;/*bỏ gạch chân */
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display:inline flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.header__navbar-item--bold{
    font-weight: 400;
}

.header__navbar-item--saparate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.6rem;
    margin: 0 2px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* header qr code  */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 140%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before{
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0;
    top: -40%;
    content: "";
    display: block;
}

.header__qr-img{
    width: 100%; /*như vậy ảnh sẽ nằm gòn trong thẻ div*/

}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.header__qr-link:first-child{
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header__qr-download-img{
    height: 16px;

}

/* header notification  */
.header__notify{
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    border-radius: 2px;
    transform-origin: calc(100% - 20px) top; /*di chuyển tâm của animation*/
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform; /*tối ưu chuyển động animation */
    display: none;
}

.header__notify::before{
    position: absolute;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -26px;
    right: 6px;
}

.header__notify::after{
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -5%;
    content: "";
}

@keyframes headerNotifyGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list{
    padding-left: 0;

}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed{
    background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    
    width: 100%;
}

.header__notify-img{
    width: 48px;
    object-fit: contain; /*giúp cho không bị móp méo ảnh khi fix 1 chiều kích thước và n k bị phụ thuộc vào display = flex*/


}

.header__notify-info{
    margin-left: 12px;

}

.header__notify-name{
    display: block;
    color: #666;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;

}

.header__notify-des{
    display: block;
    color: #999;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 300;
}

.header__notify-footer{
    text-align: center;
}

.header__notify-footer-btn{
    text-decoration: none;
    display: block;
    color: #666;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 48px;
}

/* authen modal  */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden; /*khi kích thước thằng con vượt ra ngoài thằng con nó sẽ bị ẩn đi*/
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center; /*để 2 element đứng bằng nhau*/
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text--color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form{

}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 14px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #297BE5;
    color: var(--white-color);
}

.auth-form__socials--facebook .auth-form__socials-icon{
    color: var(--white-color);
}

.auth__socials-title{
    margin: 0 32px;
}

.auth-form__socials--google{
    background-color: var(--white-color);
    color: var(--text--color);
}

.auth-form__socials--google .auth-form__socials-icon{
    color: #0A82ED;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    height: 20px;
    border-left: 1px solid #eaeaea;
    margin: 0 12px;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}